p {
	text-align: center;
}

.sessions {
	display: block;
	width: 400px;
	margin: 20px auto;

	overflow: scroll;
}

.selectedFilm {
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

.cinemaHallWrapper {
	min-height: 600px;
	width: 1000px;
	margin: 0 auto;

	/*border: 1px solid black;*/

	display: flex;
}

.hall {
	visibility: hidden;
	min-height: 600px;

	/*border: 1px solid red;*/

	width: calc(80% - 2px);
}

.reservationForm {
	min-height: 600px;

	/*border: 1px solid green;*/

	width: calc(20% - 2px);
}

form input, form label {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

.row.row-1 {
	margin-top: 30px;
}

.row {
	min-height: 60px;
	display: flex;
	width: calc(99% - 2px);
	margin: 10px auto;

	/*border: 1px solid black;*/

	justify-content: center;
}

.row.row-8 {
	margin-bottom: 0px;
}

.place {
	min-height: calc(60px - 2px);
	min-width: calc(60px - 2px);

	/*background-color: lightgreen;*/

	margin: 0 8px;
	border: 1px solid black;

	line-height: 60px;
	text-align: center;
	font-size: 24px;
}

.place:not(.booked):not(.bought):hover {
	box-shadow: 5px 5px 5px gray;
	cursor: pointer;
}

/*Забронировано*/
.booked {
	background-color: red;
}

/*Выбрано*/
.selected {
	background-color: lightblue;
}

/*Куплено*/
.bought {
	background-color: black;
	color: white;
}